<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Добро пожаловать в Админ-Панель</h1>
	</div>

	<!-- Content goes here --> 
	<div class="d-flex align-items-start">
		<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			{% for j_key, j_value in json_data.items() %}
				<button class="nav-link" id="v-pills-{{ j_key }}-tab" data-bs-toggle="pill"
				        data-bs-target="#v-pills-{{ j_key }}" type="button" role="tab"
				        aria-controls="v-pills-{{ j_key }}" aria-selected="false">

					{{ j_value[0].short_title }}

				</button>
			{% endfor %}
			<button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#myModal">Add Item</button>
			<form class="form_admin_panel border-bottom" action="add_block" method="POST" enctype="multipart/form-data">
				<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">Добавление блока</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p><input type="text" name="new_featurette" placeholder="Номер раздела"></p>
							<p><input type="text" name="new_title_featurette" placeholder="Название блока"></p> <!--заголовок контента-->
							<p><textarea name="new_contenttext_featurette" rows="5" cols="40" placeholder="Текст"></textarea></p> <!--текст контента-->
							<input type="file" name="new_img_featurette" multiple> <!-- загрузка нового изображения -->
                            <input type="hidden" name="user_id" value="{{ session['user_id'] }}">

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
							<button type="submit" name="new_block" class="btn btn-primary">Сохранить изменения</button>
						</div>
					</div>
					</div>
				</div>
			</form>
		</div>

		<div class="tab-content" id="v-pills-tabContent">
			{% for j_key, j_value in json_data.items() %}
				<div class="tab-pane fade" id="v-pills-{{ j_key }}" role="tabpanel"
				     aria-labelledby="v-pills-{{ j_key }}-tab">
					{% for item in j_value %}
                        <form class="form_admin_panel border-bottom" action="update_content" method="POST" enctype="multipart/form-data"> <!-- Отправляем 1 сегмент блока через POST на endpoint update_content -->
                            <!-- <h3><input type="text" name="short_title" value="{{ item.short_title }}"></h3> название блока в меню header -->
                            
                            <p><input type="text" name="title" value="{{ item.title }}"></p> <!--заголовок контента-->
                            <p><textarea name="contenttext" rows="5" cols="50">{{ item.contenttext }}</textarea></p> <!--текст контента-->
							<img src=".{{ item.img }}" alt="{{ item.altimg }}"> <!-- показываем изображение которое сейчас доступно -->
                            <input type="file" name="img" multiple> <!-- загрузка нового изображения -->
                            <input type="hidden" name="id" value="{{ item.id }}"> <!-- id контента - поле скрыто -->
                            <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
							<input type="hidden" name="short_title" value="{{ item.short_title }}">
							<input type="hidden" name="id_block" value="{{ j_key }}">
                            <button type="submit" class="btn btn-primary btn-local">Сохранить изменения</button>
							{% if item == j_value[-1] %}
							    <hr>
								<button type="button" class="btn btn-primary btn-local" data-bs-toggle="modal" data-bs-target="#myModal{{ j_key }}">
									Добавить ещё <span>{{ item.short_title }}</span> <!-- добавление элемента -->
								</button>
								<div class="modal fade" id="myModal{{ j_key }}" tabindex="-1" aria-labelledby="myModal{{ j_key }}Label" aria-hidden="true">
									<div class="modal-dialog">
									  <div class="modal-content">
										<div class="modal-header">
										  <h5 class="modal-title" id="myModal{{ j_key }}Label">Добавление элемента</h5>
										  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
										</div>
										<div class="modal-body">
											<p><input type="text" name="new_title" placeholder="Название"></p> <!--заголовок контента-->
											<p><textarea name="new_contenttext" rows="5" cols="40" placeholder="Текст"></textarea></p> <!--текст контента-->
											<input type="file" name="new_img" multiple> <!-- загрузка нового изображения -->
											<!-- <input type="hidden" name="id" value="{{ item.id }}"> -->
											<!-- <input type="hidden" name="user_id" value="{{ session['user_id'] }}"> -->
											<!-- <input type="hidden" name="id_block" value="{{ j_key }}"> -->
											<!-- <input type="hidden" name="short_title" value="{{ item.short_title }}"> -->
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
											<button type="submit" name="new_item" class="btn btn-primary btn-local">Сохранить изменения</button>
										</div>
									  </div>
									</div>
								  </div>
							{% endif %}
                        </form>
					       
					{% endfor %}
				    
				</div>
			    
			{% endfor %}
		</div>
	</div>


</main>